.contact-content {
  height: 70vh;
  font: inherit;
}

.contact-content {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  aspect-ratio: 16/9;
  background-color: #fff;
  min-width: 300px;
  width: 60vw;
  border-radius: 16px;
  z-index: 3;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #091220;
}

.contact-content-close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  color: inherit;
}

.contact-content.dark-theme {
  background-color: #091220;
  color: #fff;
}

.contact-content-name {
  letter-spacing: 2px;
  font-size: 3em;
  color: #3498db;
  text-shadow: 2px 2px 4px rgba(52, 152, 219, 0.7);
  margin-top: 10px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.contact-content-name:hover {
  color: #2980b9;
}

.contact-socials-links {
  border-top: 1px solid #2980b9;
  padding: 1em 0 0 0;
  display: flex;
  width: 100%;
  gap: 0.7em;
  font-size: 2em;
  justify-content: center;
}

.contact-socials-links a {
  text-decoration: none;
  color: inherit;
}

.contact-socials-links a:hover {
  opacity: 0.7;
}
.email-link {
  text-decoration: none;
}
.recaptcha-container {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 700px) {
  .contact-content {
    font-size: 0.8em; /* Set your desired font size here */
  }
}

@media (max-width: 500px) {
  .contact-content {
    font-size: 1.5em;
  }
}
