.SingleTask_container {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 2vh;
    justify-content: space-around;
    font-weight: lighter;
    font-size: 1rem;
    align-items: center;
}
.SingleTask_container .SingleTask_title {
    flex: 4;
    min-width: 100px;
    text-align: left;
 }

.overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.SingleTask_task_operation_Btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100px;

}
