.DeleteAllTasks_btn {
    padding: 1.3em 3em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    border-radius: 45px;
    color: inherit;
    background-color: inherit;
    transition: all 0.3s ease;
}
.DeleteAllTasks_btn.dark-theme {
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.1);
}

.DeleteAllTasks_btn:hover {
    background-color: #ff4545;
    box-shadow: 0 15px 20px rgba(255, 81, 68, 0.4);
    color: #fff;
    transform: translateY(-3px);
}
