
.TaskProgress__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.TaskProgress__container h1{
    letter-spacing: 1px;
    margin: 0;
}
