@import "~font-awesome/css/font-awesome.css";


.AddForm {
    height: 26vh;
}
.TaskForm__container{
    border-top: 2px solid #f0efe9;
}

.AddForm__form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.AddForm__form label, .AddForm__form button {
    flex: 1;
}


.TaskForm__instruction_text {
    font-size: 0.7em;
    color: #ff4545;
    width: 100%;
    font-style: italic;
}



.AddForm__add_task_BTN_container {
    font-family: inherit;
    max-width: 190px;
    min-width: 33%;
}

.AddForm__add_task_BTN {
    background-color: transparent;
    padding: 0.8em;
    cursor: pointer;
    border: 2px solid #23c483;
    max-width: 190px;
    border-radius: 20px;
    font-size: 100%;
    position: relative;
    justify-content: center;
    width: 100%;
}

.AddForm__add_task_BTN:focus {
    outline: none;
}
.AddForm__add_task_BTN:hover {
    background-color: #23c483;
    border: 2px solid #23c483;
    animation: pulse_Add_task_BTN 1.5s ease;
}
.AddForm__add_task_BTN:disabled {
    animation: none;
    cursor: not-allowed;
    border: 2px solid #ff4545;
}
.AddForm__add_task_BTN:disabled:hover {
    background-color: transparent;

}

@keyframes pulse_Add_task_BTN {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(11, 110, 79, 0.5);
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 100px rgba(11, 110, 79, 0.5);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(11, 110, 79, 0.5);
    }
}
