.SingleTaskRow{
    border-top: 1px solid #f0efe9;
}

.SingleTaskRow__container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 2vh 0;
    justify-content: space-around;
    font-weight: normal;
    font-size: 1.2rem;
    align-items: center;
}
.SingleTaskRow .SingleTaskRow_title {
    flex: 4;
    text-align: left;
    line-height: 1.5rem;
    word-spacing: 2px;
    margin-right: 20px;
 }

.overflow-hidden {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.SingleTaskRow__actions {
    display: flex;
    justify-content: space-between;
    width: 100px;

}
