@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.App {
    font-family: "Lato", sans-serif;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    overflow: visible;
    background-color: #ffffff;
    text-align: center;
    color: #1d1e23;
    width: 70vw;
    height: auto;
    font-size: 16px;
    padding: 2rem;
    min-width: 300px;
    position: relative;
    max-width: 500px;
    border-radius: 16px;
    min-height: 300px;
}
