@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
    font-family: "Lato", sans-serif;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    overflow: visible;
    background-color: #ffffff;
    text-align: center;
    color: #1d1e23;
    width: 70vw;
    height: auto;
    font-size: 16px;
    padding: 2rem 2rem 0 2rem;
    min-width: 300px;
    position: relative;
}
