@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
    font-family: "Lato", sans-serif;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    color: #1d1e23;
    width: 70vw;
    height: 1000px;
}
