.OneTaskRemoval__btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #cccccc;
  border: none;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.4s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 16px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: #1d1e23;
}

.OneTaskRemoval__btn:hover {
  width: 60px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.OneTaskRemoval__btn:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(65%);
}

.OneTaskRemoval__btn::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.OneTaskRemoval__btn:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}
