/* Base Styles (Desktop) */
.about-content {
  height: 75vh;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  min-width: 300px;
  width: 80dvw;
  border-radius: 16px;
  z-index: 3;
  padding: 2em;
  display: flex;
  flex-direction: column;
  color: #091220;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.about-content.dark-theme {
  background-color: #091220;
  color: #fff;
}

.about-content-header {
  margin: 0.7em 0;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid;
  width: 80%;
}
.about-content-features {
  font-size: 1.5rem;
}

.about-content-feature_list {
  display: flex;
  align-items: baseline;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.about-content-description {
  margin: 1em 0;
  font-size: 1.1em;
}

/* Media Queries */

/* For Tablets */
@media (max-width: 768px) {
  .about-content {
    width: 80dvw;
    padding: 1.5em;
  }

  .about-content-description {
    font-size: 1em;
  }
}

/* For Phones */
@media (max-width: 600px) {
  .about-content {
    width: 90dvw;
    padding: 1em;
  }

  .about-content-description {
    font-size: 0.9em;
  }

  .about-content-header {
    font-size: 1.5em;
  }
}
