
.TaskList_table {
    width: 100%;
}
.TaskList_table td{
    background-color: #282e33;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 2vh;
    margin-left: 5%;
    padding: 10px 0;
}
.TaskList_table tr{
    background-color: #455059;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 2vh;
    margin-left: 5%;
    padding: 10px 0;
}
