
.ErrorPage__container {
    font-family: "Lato", sans-serif;
    margin: 15vh auto;
    background-color: #ffffff;
    text-align: left;
    color: #1d1e23;
    width: 70vw;
    height: auto;
    font-size: 16px;
    padding: 2rem;
    min-width: 300px;
    max-width: 500px;
    border-radius: 16px;
    min-height: 300px;
}
.ErrorPage__container.dark-theme {
    background-color: #1d1e23;
    color: #ffffff;
}
.ErrorPage__container_message{
    background-color: #f2dede;
    border: 1px solid #ac515a;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    color: #ab4847;
    border-radius: 16px;
}
.ErrorPage__container h1 {

    margin: 0 0 1rem 1rem;
}
.ErrorPage__error_message{
    margin-top: 0.5em;
    font-size: 0.8rem;
    font-style: italic;
}
