@import "~font-awesome/css/font-awesome.css";


.AddForm {
    height: 26vh;
}
.TaskForm__container{
    border-top: 2px solid #f0efe9;
}

.AddForm__form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.AddForm__form label {
    flex: 1;
}


.TaskForm__instruction_text {
    font-size: 0.7em;
    color: #ff4545;
    width: 100%;
    font-style: italic;
}
