.ClearTaskDone__btn {
  padding: 1em 2.5em;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
  background-color: #703fb2;
  border: 1px solid #602ea1;
}

.ClearTaskDone__btn:hover {
  background-color: #602ea1;
  box-shadow: 0 12px 15px #501da0;
  color: inherit;
  transform: translateY(-7px);
}

.ClearTaskDone__btn:active {
  transform: translateY(-1px);
}
